/A_New_Guide_to_Post_Keynesian_Economics.bibtex
/An_introduction_to_modern_economics.bibtex
/Aspects_of_Development_and_Underdevelopm.bibtex
/Introdução_ao_desenvolvimento.bibtex
/O_Mito_do_desenvolvimento_econômico.bibtex
